@page
@model RCSDKExtensionModel
@{
    ViewData["Title"] = "开发RCSDK扩展";
}

<div class="container mt-4">
    <h1>开发RCSDK扩展</h1>
    <div class="content mt-4">
        <!-- 在这里添加文档内容 -->
    </div>
</div> 